data/
myenv/
api/__pycache__
tests/__pycache__
tests/.coverage
scripts/__pycache__
.coverage
__pycache__
.pre-commit-config.yaml
gcp-deployment/.terraform
gcp-deployment/.terraform.lock.hcl
gcp-deployment/.terraform.tfstate.lock.info
gcp-deployment/terraform.tfstate.backup
gcp-deployment/terraform.tfstate
